
<!-- SDK Facebook -->
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_CO/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
	<section class="home wrapper">
		<%= image_tag("loading.gif", :alt=>'loading', :id => 'loading')%>
		<header>
			<h1 class="logo">
			  <a href="/"> OnlineColombia.Tv </a>
			</h1>
			<!-- <div class="fb-share-button" data-href="http://onlinecolombia.tv" data-width="200" data-type="button_count"></div> -->
			
		</header>
		<nav class="sidemenu">
			<ul class="menu list-line">
				<li><a href="#">Canales</a></li>
				<li> <a href="#"> 30 Seg </a></li>
				<li> <a href="#"> Encuesta</a></li>
			</ul>
		</nav>
		
		<div id="closeVideo"> </div>
		<div class="sidecontainer">
			<div class="content">
				<h1> Canales</h1>
				<ul class="categories">
					<li><a href="#"> Afro </a></li>
					<li><a href="#"> Arte y Cultura </a></li>
					<li><a href="#"> Extremo </a></li>
					<li><a href="#"> Nativa </a></li>
					<li><a href="#"> Narrativas </a></li>
					<li><a href="#"> Territorios </a></li>
				</ul>
			</div>
			<span class="goback"> <%= image_tag("icn/side_back.png", :alt => "goBack") %> </span>
		</div>
		<div id="videoContainer"></div>
		<div id="slides">
		  <ul class="slides-container">
		    <li data-id="68746977">
		      <img src="" alt="Video Preview">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li>
		    <li data-id="64617047">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li>
		    <li data-id="66008085">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li>
		    <li data-id="37806925">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li>
		    <li data-id="65775016">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li>
		    <li data-id="37087154">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li> 
		    <li data-id="5752448">>
		      <img src="" alt="">
		      <div class="container" 
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li> 
		    <li data-id="39299078">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li> 
		    <li data-id="51956313">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li> 
		    <li data-id="42713794">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li> 
		    <li data-id="70790561">
		      <img src="" alt="">
		      <div class="container" >
		      	<h2> <a href="#"></a> </h2>
		      </div>
		      <a href="#" class="goButton" >  </a>
		    </li> 
		  </ul>
		  <nav class="slides-navigation">
		    <a href="#" class="prev"><h1>Anterior</h1></a>
		    <a href="#" class="next"><h1>Siguiente</h1> </a>
		  </nav>
		</div>

	</section>